<html>
    <head>
        <style>
            
        </style>
    </head>
    <body>
        <p>Olá, {{ name }}!</p>
        <br>
        <p>Você cadastrou este e-mail como endereço de recuperação de senha para o System Care. Ao clicar no link a seguir, você será redirecionado para a página de troca de senha</p>
        <br>
        <a href='{{ link }}'>
            Recuperar Senha
        </a>
        <br>
        <p>Se você não tentou entrar na sua conta, sua senha pode estar comprometida. Entre em contato com o administrador para criar um nova senha.</p>
        <br><br>
        <p>Esta é uma mensagem automática. Favor não responder este e-mail.</p>
    </body>
</html>