<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Olá {{name}},</p>
        <br>
        <p>Sua senha foi recuperada com sucesso!</p>
        <br><br>
        <p>Esta é uma mensagem automática. Favor não responder este e-mail.</p>
    </body>
</html>